/* Account Info Container */
.account-info-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  
  /* Account Info Content */
  .account-info-content {
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px; /* Adjust based on the height of the OwnerHeader */
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 15px;
    width: 90%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-group input:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  
  /* Update Button */
  .update-button {
    background-color: #353D45;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .update-button:hover {
    background-color: #353D45;
  }

  /* Account Info Container */
.account-info-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Account Info Content */
  .account-info-content {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px; /* Adjust based on the height of the OwnerHeader */
  }
  
  /* Form Container */
  .form-container {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:100%;
    max-width:400px;
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 15px;
    width: 100%;

  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;

  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-group input:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  
  /* Update Button */
  .update-button {
    background-color: #353D45;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 60%;
    margin-left:33%;
   
  }
  
  .update-button:hover {
    background-color: #353D45;
  }