/* Registration Wrapper */
.registration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Align from the start of the screen */
  min-height: 100vh; /* Full viewport height */
  width: 100%; /* Ensure it takes full width of the viewport */
  padding-top: 60px; /* Adjust padding to account for the fixed header */
  box-sizing: border-box; /* Ensure padding is included in the width */
  /*overflow: hidden; /* Prevent scrollbars */
  height: 100vh;
  max-width:400px;
  margin-left: 35%;
}

/* Registration Heading */
.registration-heading {
  font-size: 20px; /* Reduced font size */
  font-weight: bold;
  color: #333;
  margin-bottom: 15px; /* Reduced margin */
  text-align: center;
}

/* Registration Container */
.registration-container {
  width: 90%; /* Set to 90% width for responsiveness */
  max-width: 900px; /* Increase max-width to a larger value */
  padding: 15px; /* Reduced padding */
  text-align: center;
  justify-content:center;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 10px auto; /* Reduced margin */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Input Fields */
.input-field {
  margin-bottom: 10px; /* Reduced margin */
  text-align: left;
}

.input-field label {
  display: block;
  font-size: 12px; /* Reduced font size */
  margin-bottom: 3px; /* Reduced margin */
  color: #555;
}

.input-field input {
  width: 100%;
  padding: 8px; /* Reduced padding */
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 12px; /* Reduced font size */
}

/* Submit Button */
button[type="submit"] {
  width: 100%; /* Full width for better responsiveness */
  padding: 8px; /* Reduced padding */
  background-color: #353D45;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px; /* Reduced font size */
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #2a3038;
}

/* Ensure no overflow on the body */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars on the body */
}